{
  "extends": "plugin:nullstack/recommended",
  "rules": {
    "nullstack/prettier": [
      "warn",
      {
        "trailingComma": "none",
        "tabWidth": 2,
        "semi": false,
        "singleQuote": true,
        "printWidth": 80
      },
      {
        "usePrettierrc": false
      }
    ]
  }
}